<ion-view view-title="Before You Go">
	<ion-nav-bar>
		<ion-nav-back-button class="button icon-left ion-chevron-left button-clear button-dark">
			<i></i> Back
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-slide-box on-slide-changed="slideHasChanged($index)">
		<ion-slide>
			<div class="card">
				<div class="item item-divider">
					<b>Bring Someone You Trust</b>
				</div>
				<div class="item item-text-wrap">
					If you feel comfortable, bring someone you trust.  Bring a friend, family member, or university staff, like an RA
				</div>
				<br>
				<div class="item item-divider">
					<b>Try not to Shower</b>
				</div>
				<div class="item item-text-wrap">
					For a Sexual Assualt Forensic Exam, try not to shower, bathe, douche, wash your hands, brush your teeth, comb your hair,
				use a toilet, eat/drink, smoke, chew gum, or change your clothes.  This may be difficult, but if you do any of the above you may destroy evidence that will be needed if you decide to report the crime to the police.
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<p>Praesent ac malesuada nulla. Sed cursus in ipsum elementum lobortis. Sed sodales dolor sit amet tellus aliquet, vel sodales elit dictum. Mauris scelerisque cursus lorem, vitae consectetur diam. Fusce tortor ante, vestibulum ac imperdiet nec, tristique nec nisi. Nunc feugiat erat eget eros rhoncus vehicula. Vestibulum tortor lectus, vulputate et turpis vel, rutrum dignissim velit. Sed sollicitudin dignissim ligula quis efficitur. In dui mi, rhoncus sit amet risus sit amet, finibus posuere mauris. Integer mollis suscipit lectus. Nunc lacus libero, semper ac tristique eu, mollis non arcu. Donec vel pharetra felis. Suspendisse nec lobortis ex. Aliquam erat volutpat.</p>
		</ion-slide>
	</ion-slide-box>
</ion-view>