<ion-view view-title="SaVUr">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>
  
  <div class="list">
	<div class="list card">

  <a href="#" class="item item-icon-left" ui-sref="app.reportAssault">
    <i class="icon ion-speakerphone"></i>
    Report a Sexual Assault
  </a>

  <a href="#" class="item item-icon-left" ui-sref="app.talk">
    <i class="icon ion-ios7-telephone"></i>
    <div>Talk to Someone</div>
  </a>
  
  <a href="#" class="item item-icon-left" ng-click="showConfirm()">
    <i style="" class="icon ion-alert"></i>
	Alert Public Safety
  </a>
  <a href="#" class="item item-icon-left" ui-sref="app.medicalHelp">
    <i class="icon ion-medkit"></i>
	Get Medical Help
  </a>

  <a href="#" class="item item-icon-left" ui-sref="app.Information">
    <i class="icon ion-information-circled"></i>
    Get Information
  </a>

</div>
<img style="display:block;margin-left:auto;margin-right:auto;opacity:.75;" src="img/VillanovaWildcats.png">
<!--	<div class="list">
	<div class="list card">

  <a href="#" class="item item-icon-left" ui-sref="app.reportAssault">
    <i class="icon ion-speakerphone"></i>
    Report a Sexual Assault
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios7-telephone"></i>
    Talk to Someone
  </a>
  
  <a href="#" class="item item-icon-left" ng-click="showConfirm()">
    <i style="color:red" class="icon ion-alert"></i>
	Alert Public Safety
  </a>
  <a href="#" class="item item-icon-left" ui-sref="app.medicalHelp">
    <i class="icon ion-medkit"></i>
	Get Medical Help
  </a>

  <a href="#" class="item item-icon-left" ui-sref="app.Information">
    <i class="icon ion-information-circled"></i>
    Get Information
  </a>

</div>-->


<!--
		<button class="button button-block button-stable" ui-sref="app.reportAssault">
				Report a Sexual Assault
		</button>
		<button class="button button-block button-stable" ui-sref="app.talk">
				Talk to Someone
		</button>
		<button class="button button-block button-assertive" ng-click="showConfirm()">
				Help Me!
		</button>
		<button class="button button-block button-stable" ui-sref="app.medicalHelp">
				Get Medical Help
		</button>
		<button class="button button-block button-stable" ui-sref="app.Information">
				Get Information
		</button>
-->
	
	   <!--  <a class="item item-thumbnail-left" href="#" ng-click="showConfirm()">
	      <img src="cover.jpg">
	      <h2>Help Me</h2> <i class="ion-android-favorite"></i>
	      <p>Alert the Public Safety</p>
	    </a>
	    <a class="item item-thumbnail-right" href="tel:555-555-5555">
	      <img src="cover.jpg">
	      <h2>Call for Help</h2>
	      <p>Call the Public Safety</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#/app/search">
	      <img src="cover.jpg">
	      <h2>Prevention</h2>
	      <p>Lorem ipsum </p>
	    </a>
	    <a class="item item-thumbnail-right" href="#/app/browse">
	      <img src="cover.jpg">
	      <h2>Lorem ipsum dolor sit amet.</h2>
	      <p>Lorem ipsum dolor sit</p>
	    </a> -->

	</div>
  </ion-content>
</ion-view>
