<ion-view view-title="SaVUr">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>
  
  <div class="list">
	<div class="list card">

  <a href="#" class="item item-icon-left" ui-sref="app.reportAssault">
    <i class="icon ion-speakerphone"></i>
    Report a Sexual Assault
  </a>

  <a href="#" class="item item-icon-left" ui-sref="app.talk">
    <i class="icon ion-ios7-telephone"></i>
    <div>Talk to Someone</div>
  </a>
  
  <a href="#" class="item item-icon-left" ng-click="showConfirm()">
    <i style="" class="icon ion-alert"></i>
	Alert Public Safety
  </a>
  <a href="#" class="item item-icon-left" ui-sref="app.medicalHelp">
    <i class="icon ion-medkit"></i>
	Get Medical Help
  </a>

  <a href="#" class="item item-icon-left" ui-sref="app.Information">
    <i class="icon ion-information-circled"></i>
    Get Information
  </a>

</div>

<img style="display:block;margin-left:auto;margin-right:auto;opacity:.75;" src="img/VillanovaWildcats.png">

	</div>
  </ion-content>
</ion-view>
