<ion-view view-title="Campus Resources">
	<ion-nav-bar class="bar-stable">
		<ion-nav-back-button class="button ion-ios-arrow-back ion-chevron-left button-clear button-dark">
			<i></i> Back
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<ion-scroll class="scroll" zooming="true" direction="y" >
			<button class="button button-block button-stable" onclick="window.open('http://www1.villanova.edu/content/villanova/studentlife/health/promotion/sexualassault/definition/_jcr_content/widgetiparsys/download/file.res/SexualAssaultBooklet2014.pdf', '_system', 'location=yes'); return false;">
				Villanova Sexual Assault Handbook
			</button>
			<button class="button button-block button-stable" onclick="window.open('http://www1.villanova.edu/villanova/studentlife/health/promotion/sexualassault.html', '_system', 'location=yes'); return false;">
				Villanova University Web Resource
			</button>
			<!--Card For Villanova Health Services -->
			<div class="card" style="text-align:center">
				<div class="item item-divider">
					<b>Counseling Center</b>
				</div>
				<div class="item item-text-wrap">
					For confidential emotional support, schedule an appointment during normal business hours (Monday-Friday, 9:00AM-5:00PM).
					<br>
					<a href="tel:6105194050">
					  		610-519-4050
					  </a>
				</div>
				<div class="item item-divider">
					<b>SARC</b>
				</div>
				<div class="item item-text-wrap">
					To connect with someone 24/7 who can review all options available to a survivor of sexual assault (medical care, reporting, counseling) and who can accompany a student to campus and/or community services to ensure appropriate medical care, emotional support, and follow-up information in the wake of a sexual assault.  If someone isn't sure whom to talk to, calling a SARC is a good way to explore options.
					<br>
					<a href="tel:4843436028">
					  		484-343-6028
					  </a>
				</div>
				<div class="item item-divider">
					<b>Student Health Center</b>
				</div>
				<div class="item item-text-wrap">
					To receive 24/7, confidential medical care (including pregnancy, predatory drug and sexually transmitted infection testing).
					<br>
					<a href="tel:6105194070">
					  		610-519-4070
					 </a>
				</div>
				<div class="item item-divider">
					<b>Public Safety</b>
				</div>
				<div class="item item-text-wrap">
					To report any form of sexual misconduct 24/7.
					<br>
					<a href="tel:6109604582">
					  		610-960-4582
					 </a>
				</div>
				<div class="item item-divider">
					<b>Dean of Students</b>
				</div>
				<div class="item item-text-wrap">
					To pursue disciplinary action under the Code of Student Conduct.
					<br>
					<a href="tel:6105194200">
					  		610-519-4200
					 </a>
				</div>
			</div>
		</ion-scroll>
	</ion-content>
</ion-view>