<ion-view view-title="INTRO">
    <ion-nav-buttons side="left">
        <button class="button button-positive button-clear no-animation" ng-click="previous()" ng-show="slideIndex > 0">
            <
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right"> 
        <button class="button button-positive button-clear no-animation" ng-click="next()" ng-show="slideIndex != 2">
            >
        </button>

    </ion-nav-buttons>

    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide>
            <h3>Welcome to SaVUr</h3>
            <div id="logo"> <img src="http://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>Lorem ipsum dolor sit ame</p>
            <p> Maecenas rutrum, est eu cursus blandit, elit justo convallis lorem, et suscipit magna arcu nec tellus. Pellentesque vulputate nisl vitae felis interdum, et lac</p>
         </ion-slide>

        <ion-slide>
            <p>Praesent ac malesuada nulla. Sed cursus in ipsum elementum lobortis. Sed sodales dolor sit amet tellus aliquet, vel sodales elit dictum. Mauris scelerisque cursus lorem, vitae consectetur diam. Fusce tortor ante, vestibulum ac imperdiet nec, tristique nec nisi. Nunc feugiat erat eget eros rhoncus vehicula. Vestibulum tortor lectus, vulputate et turpis vel, rutrum dignissim velit. Sed sollicitudin dignissim ligula quis efficitur. In dui mi, rhoncus sit amet risus sit amet, finibus posuere mauris. Integer mollis suscipit lectus. Nunc lacus libero, semper ac tristique eu, mollis non arcu. Donec vel pharetra felis. Suspendisse nec lobortis ex. Aliquam erat volutpat.</p>
        </ion-slide>

        <ion-slide>
            <div class="bar bar-subheader">
              <h2 class="title">Profile</h2>
            </div>
            <form ng-submit="register()">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text">
                </label>

                <label class="item item-input">
                  <span class="input-label">VU-ID</span>
                  <input type="number">
                </label>

                <label class="item item-input">
                  <span class="input-label">Dorm/Address</span>
                  <input type="text">
                </label>
                 <label class="item">
                     <button class="button button-block button-positive" type="submit">start</button>
                </label>
             </form>
        </ion-slide>

    </ion-slide-box>
</ion-view>



