<ion-view view-title="Get Medical Help">
	<ion-nav-bar class="bar-stable">
		<ion-nav-back-button class="button ion-ios-arrow-back ion-chevron-left button-clear button-dark">
			<i></i> Back
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<ion-scroll class="scroll" zooming="true" direction="y" >	
			<!--Card For Villanova Health Services -->
			<div class="card" style="text-align:center">
			  <div class="item item-divider">
			    Villanova Student Health Center 
			  </div>
			  <div class="item item-text-wrap">
			   Villanova University<br>
				Health Services Building<br>
				3rd Floor<br>
				800 Lancaster Avenue<br>
				Villanova, PA 19085<br>
				<a href="#" onclick="window.open('http://www1.villanova.edu/villanova/studentlife/health/center.html', '_system', 'location=yes'); return false;">Health Services Site</a>
			  </div>
			  <div class="item item-divider">
	   		<a class="button" onclick="window.open('http://maps.apple.com/?daddr=40.034992,-75.337318&saddr=Current+Location', '_system', 'location=yes'); return false;">
	  			Get Directions
				</a>

				<a href="tel:6105194070" class="button button-positive">Call</a>
	  		  </div>
			</div>

			<!--Card For Bryn Mawr Hospital -->
			<div class="card" style="text-align:center">
			  <div class="item item-divider">
			    Bryn Mawr Hospital
			  </div>
			  <div class="item item-text-wrap">
			    Bryn Mawr Hospital<br>
			    130 S Bryn Mawr Ave<br>
			    Bryn Mawr, PA 19010<br>
			    <a href="#" onclick="window.open('http://www.mainlinehealth.org/brynmawr', '_system', 'location=yes'); return false;">Bryn Mawr Hospital Site</a>
			  </div>
			  <div class="item item-divider">
				<a href="#" class="button" onclick="window.open('http://maps.apple.com/?daddr=Bryn+Mawr+Hospital,130+S+Bryn+Mawr+Ave,Bryn+Mawr,PA+19010&saddr=Current+Location', '_system', 'location=yes'); return false;">
	  			Get Directions
				</a>

				<a href="tel:4843373000" class="button button-positive">Call</a>
	  		  </div>
			</div>

			<div class="card">
				<div class="item item-divider">
			      <b>Options To Consider</b>
				</div>
				<br>
				<div class="item item-divider">
					<b>Bring Someone You Trust</b>
				</div>
				<div class="item item-text-wrap">
					If you feel comfortable, bring someone you trust such as a friend, family member, or university staff, like a SARC or RA.
				</div>
				
				<div class="item item-divider">
					<b>Try not to Shower</b>
				</div>
				<div class="item item-text-wrap">
					For a Sexual Assualt Forensic Exam, try not to shower, bathe, douche, wash your hands, brush your teeth, comb your hair,
				use a toilet, eat/drink, smoke, chew gum, or change your clothes.  This may be difficult, but if you do any of the above you may destroy evidence that will be needed if you decide to report the crime to the police.
				</div>
				
				<div class="item item-divider">
					<b>Bring a Change of Clothes</b>
				</div>
				<div class="item item-text-wrap">
					Please remember to bring a change of clothes.  Store any clothing, shoes and/or items worn at the time of the assault in a paper bag if you have already removed them.
				</div>
			</div>
			<br><br>
		</ion-scroll>
	</ion-content>
</ion-view>