<ion-view view-title="Get Medical Help">
	<ion-nav-bar>
		<ion-nav-back-button class="button ion-ios-arrow-back ion-chevron-left button-clear button-dark">
			<i></i> Back
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>

		<!--Card For Villanova Health Services -->
		<div class="card" style="text-align:center">
		  <div class="item item-divider">
		    Villanova Student Health Center 
		  </div>
		  <div class="item item-text-wrap">
		   Villanova University<br>
			Health Services Building<br>
			3rd Floor<br>
			800 Lancaster Avenue<br>
			Villanova, PA 19085<br>
		  </div>
		  <div class="item item-divider">
   		 	<button  class="button">
  			Get GPS Directions
			</button>

			<a href="tel:6102721000" class="button button-positive">Call Taxi</a>
			
			<button  class="button">
  			Get Train Directions
			</button>
  		  </div>
		</div>

		<!--Card For Bryn Mawr Hospital -->
		<div class="card" style="text-align:center">
		  <div class="item item-divider">
		    Bryn Mawr Hospital
		  </div>
		  <div class="item item-text-wrap">
		    Bryn Mawr Hospital<br>
		    130 S Bryn Mawr Ave<br>
		    Bryn Mawr, PA 19010<br>
		  </div>
		  <div class="item item-divider">
   		 	<button  class="button" >
  			Get GPS Directions
			</button>

			<a href="tel:6102721000" class="button button-positive">Call Taxi</a>
	
			<button  class="button">
  			Get Train Directions
			</button>
  		  </div>
		</div>

		<div class="card" style="text-align:left">
			<div class="item item-divider">
		      Options To Consider
			</div>
			<div class="list">
			  <div class="item item-button-right" >What to Expect
			    <button class="button icon-right ion-chevron-right button-clear button-dark">
			    </button>
			 </div>
			 <div class="item item-button-right">Bring Someone You Trust
			    <button class="button icon-right ion-chevron-right button-clear button-dark">
			    </button>
			 </div>
			 <div class="item item-button-right">Try Not to Shower
			    <button class="button icon-right ion-chevron-right button-clear button-dark">
			    </button>
			 </div>
			 <div class="item item-button-right">Bring a Change of Clothes
			    <button class="button icon-right ion-chevron-right button-clear button-dark">
			    </button>
			 </div>
		 </div>

</div>

	</ion-content>
</ion-view>