<ion-view view-title="Home">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
    <ion-nav-buttons side="right"> 
       <button class="button button-clear" ng-click="edit()">Edit</button>
  </ion-nav-buttons>
  <ion-content>

  <div class="card">
      <div class="item item-text-wrap">
        <h3> My Profile</h3>
        <p>
        Name: {{profileName}}<br>
        VUID: {{profileVUID}}<br>
        Dorm: {{profileDorm}}<br>
      </p>
      </div>
   </div>
</ion-content>
</ion-view>

