<ion-view view-title="Report a Sexual Assault">
	<ion-nav-bar class="bar-stable">
		<ion-nav-back-button class="button ion-ios-arrow-back ion-chevron-left button-clear button-dark">
			<i></i> Back
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<div class="list">
		  <div class="item item-button-right">
			Call Public Safety
				 	<a class="button button-positive" href="tel:6109604582">
				  		<i class="icon ion-ios-telephone"></i>
				  	</a>
			
		  </div>
		  <div class="item item-button-right">
			Call Local Police
	  				<a class="button button-positive" href="tel:911">
				  		<i class="icon ion-ios-telephone"></i>
				  	</a>
		  </div>
		</div>
	</ion-content>
</ion-view>