<ion-view view-title="Sexual Assault Pamphlet">
	<ion-nav-bar  class="bar-stable">
		<ion-nav-back-button class="button ion-ios-arrow-back ion-chevron-left button-clear button-dark">
			<i></i> Back
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content[scrollbar-x=""][scrollbar-y=""]>
		<iframe src="http://docs.google.com/gview?url=http://www1.villanova.edu/content/villanova/studentlife/health/promotion/sexualassault/definition/_jcr_content/widgetiparsys/download/file.res/Sexual%20Assault%20Booklet%202014.pdf&embedded=true" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
	</ion-content>
</ion-view>