<ion-view view-title="Talk to Someone">
	<ion-nav-bar class="bar-stable">
		<ion-nav-back-button class="button ion-ios-arrow-back ion-chevron-left button-clear button-dark">
			<i></i> Back
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<ion-scroll class="scroll" zooming="true" direction="y" >			
			<div class="list">
					<div class="dividerCenter">
					<div class="item item-divider">
						<b>On Campus</b>
					</div>
				</div>
				<div class="item item-button-right">
				Call SARC
				<i class="ion-ios-clock-outline"></i>
					 	<a class="button button-positive" href="tel:4843436028">
					  		<i class="icon ion-ios-telephone"></i>
					  </a>
			  </div>
			  <div class="item item-button-right">
				Call Student Health Center
				<i class="icon ion-locked"></i>
				<i class="ion-ios-clock-outline"></i>
					 	<a class="button button-positive" href="tel:6105194070">
					  		<i class="icon ion-ios-telephone"></i>
					  </a>
			  </div>
			  <div class="item item-button-right">
				Call Public Safety
						<i class="ion-ios-clock-outline"></i>
					 	<a class="button button-positive" href="tel:6109604582">
					  		<i class="icon ion-ios-telephone"></i>
					  </a>
			  </div>
			  <div class="item item-button-right">
				Call Counseling Center
				<i class="icon ion-locked"></i>
					 	<a class="button button-positive" href="tel:6105194050">
					  		<i class="icon ion-ios-telephone"></i>
					  </a>
			  </div>
			  <div class="item item-button-right">
				Call Local Police
							<i class="ion-ios-clock-outline"></i>
		  				<a class="button button-positive" href="tel:911">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>
			  <div class="item" style="font-size:14px">
			  	<i class="icon ion-locked"></i> = <b>Confidential</b>
					<i class="ion-ios-clock-outline"></i> = <b>Available 24/7</b>
			  </div>
			<div class="dividerCenter">
					<div class="item item-divider">
						<b>Off Campus</b>
					</div>
				</div>
			  <div class="item item-button-right">
				Bryn Mawr Hospital
		  				<a class="button button-positive" href="tel:4843373000">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>
			  <div class="item item-button-right">
				Delaware County District Attorney
		  				<a class="button button-positive" href="tel:6108914162">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>
			  <div class="item item-button-right">
				Domestic Abuse
		  				<a class="button button-positive" href="tel:6105654590">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>
				<div class="item item-button-right">
				Family Violence & Sexual Assault
		  				<a class="button" onclick="window.open('http://www.fvsai.org', '_system', 'location=yes'); return false;">
					  		<i class="icon ion-android-globe"></i>
					  	</a>
			  </div>
			  <div class="item item-button-right">
				Lankenau Medical Center
		  				<a class="button button-positive" href="tel:4844762000">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>
 				<div class="item item-button-right">
				Local Law Enforcement
		  				<a class="button button-positive" href="tel:911">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>
			  <div class="item item-button-right">
				PA Coalition Against Rape
		  				<a class="button" onclick="window.open('http://www.pcar.org', '_system', 'location=yes'); return false;">
					  		<i class="icon ion-android-globe"></i>
					  	</a>
			  </div>
			  <div class="item item-button-right">
				Philadelphia Sexual Assault Response Center
		  				<a class="button button-positive" href="tel:2154251625">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>
			  <div class="item item-button-right">
				Rape, Abuse & Incest
		  				<a class="button" onclick="window.open('http://www.rainn.org', '_system', 'location=yes'); return false;">
					  		<i class="icon ion-android-globe"></i>
					  	</a>
			  </div>
			  <div class="item item-button-right">
				Women Against Rape
					 	<a class="button button-positive" href="tel:6105664342">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>
			</div>
		 </ion-scroll>
	</ion-content>
</ion-view>