<ion-view view-title="Talk to Someone">
	<ion-nav-bar class="bar-stable">
		<ion-nav-back-button class="button ion-ios-arrow-back ion-chevron-left button-clear button-dark">
			<i></i> Back
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<ion-scroll class="scroll" zooming="true" direction="y" >			
			<div class="list">
					<div class="dividerCenter">
					<div class="item item-divider">
						<b>On Campus</b>
					</div>
				</div>
				<div class="item item-button-right">
				Call SARC
				<i class="ion-ios-clock-outline"></i>
					 	<a class="button button-positive" href="tel:4843436028">
					  		<i class="icon ion-ios-telephone"></i>
					  </a>
			  </div>
			  <div class="item item-button-right">
				Call Student Health Center
				<i class="icon ion-locked"></i>
				<i class="ion-ios-clock-outline"></i>
					 	<a class="button button-positive" href="tel:6105194070">
					  		<i class="icon ion-ios-telephone"></i>
					  </a>
			  </div>
			  <div class="item item-button-right">
				Call Public Safety
						<i class="ion-ios-clock-outline"></i>
					 	<a class="button button-positive" href="tel:6109604582">
					  		<i class="icon ion-ios-telephone"></i>
					  </a>
			  </div>
			  <div class="item item-button-right">
				Call Counseling Center
				<i class="icon ion-locked"></i>
					 	<a class="button button-positive" href="tel:6105194050">
					  		<i class="icon ion-ios-telephone"></i>
					  </a>
			  </div>
			  <div class="item item-button-right">
				Call Local Police
							<i class="ion-ios-clock-outline"></i>
		  				<a class="button button-positive" href="tel:911">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>
			<div class="dividerCenter">
					<div class="item item-divider">
						<b>Off Campus</b>
					</div>
				</div>
			  <div class="item item-button-right">
				Women Against Rape
		  			<!--<button class="button button-positive">-->
					 	<a class="button button-positive" href="tel:4012039323">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>

			  <div class="item item-button-right">
				Domestic Abuse
		  			<!--<button class="button button-positive">-->
		  				<a class="button button-positive" href="tel:4012039323">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>

			   <div class="item item-button-right">
				Delaware County District Attorney
		  			<!--<button class="button button-positive">-->
		  				<a class="button button-positive" href="tel:4012039323">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>

			   <div class="item item-button-right">
				Local Law Enforcement
		  			<!--<button class="button button-positive">-->
		  				<a class="button button-positive" href="tel:4012039323">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>

			  <div class="item item-button-right">
				Bryn Mawr Hospital
		  			<!--<button class="button button-positive">-->
		  				<a class="button button-positive" href="tel:4012039323">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>

			  <div class="item item-button-right">
				Lankenau Medical Center
		  			<!--<button class="button button-positive">-->
		  				<a class="button button-positive" href="tel:4012039323">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>

			  <div class="item item-button-right">
				Philadelphia Sexual Assault Response Center
		  			<!--<button class="button button-positive">-->
		  				<a class="button button-positive" href="tel:4012039323">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>

			  <div class="item item-button-right">
				PA Coalition Against Rape
		  			<!--<button class="button button-positive">-->
		  				<a class="button button-positive" href="tel:4012039323">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>

			  <div class="item item-button-right">
				Rape, Abuse & Incest
		  			<!--<button class="button button-positive">-->
		  				<a class="button button-positive" href="tel:4012039323">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>

			  <div class="item item-button-right">
				Family Violence & Sexual Assault
		  			<!--<button class="button button-positive">-->
		  				<a class="button button-positive" href="tel:4012039323">
					  		<i class="icon ion-ios-telephone"></i>
					  	</a>
			  </div>
			</div>
		 </ion-scroll>
	</ion-content>
</ion-view>