SAVUR/ionic.project
SAVUR/platforms/android/.gitignore
SAVUR/platforms/android/.project
SAVUR/platforms/android/AndroidManifest.xml
SAVUR/platforms/android/CordovaLib/.project
SAVUR/platforms/android/CordovaLib/AndroidManifest.xml
SAVUR/platforms/android/CordovaLib/build.gradle
SAVUR/platforms/android/CordovaLib/cordova.gradle
SAVUR/platforms/android/CordovaLib/project.properties
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/Address.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/Connection.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/ConnectionPool.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/Dispatcher.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/Failure.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/HttpResponseCache.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/Job.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/MediaType.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/OkAuthenticator.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/OkHttpClient.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/OkResponseCache.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/Request.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/Response.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/ResponseSource.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/Route.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/RouteDatabase.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/TunnelRequest.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/AbstractOutputStream.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/Base64.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/DiskLruCache.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/Dns.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/FaultRecoveringOutputStream.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/NamedRunnable.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/Platform.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/StrictLineReader.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/Util.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/AbstractHttpInputStream.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/HeaderParser.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/HttpAuthenticator.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/HttpDate.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/HttpEngine.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/HttpTransport.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/HttpURLConnectionImpl.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/HttpsEngine.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/HttpsURLConnectionImpl.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/OkResponseCacheAdapter.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/Policy.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/RawHeaders.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/RequestHeaders.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/ResponseHeaders.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/RetryableOutputStream.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/RouteSelector.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/SpdyTransport.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/Transport.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/http/UnknownLengthHttpInputStream.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/spdy/ErrorCode.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/spdy/FrameReader.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/spdy/FrameWriter.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/spdy/HeadersMode.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/spdy/Hpack.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/spdy/Http20Draft06.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/spdy/IncomingStreamHandler.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/spdy/NameValueBlockReader.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/spdy/Ping.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/spdy/Settings.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/spdy/Spdy3.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/spdy/SpdyConnection.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/spdy/SpdyStream.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/spdy/Variant.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/tls/DistinguishedNameParser.java
SAVUR/platforms/android/CordovaLib/src/com/squareup/okhttp/internal/tls/OkHostnameVerifier.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/App.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/AuthenticationToken.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/CallbackContext.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/Config.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/ConfigXmlParser.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/CordovaActivity.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/CordovaArgs.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/CordovaBridge.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/CordovaChromeClient.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/CordovaClientCertRequest.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/CordovaHttpAuthHandler.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/CordovaInterface.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/CordovaPlugin.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/CordovaPreferences.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/CordovaResourceApi.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/CordovaUriHelper.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/CordovaWebView.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/CordovaWebViewClient.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/DirectoryManager.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/DroidGap.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/ExifHelper.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/ExposedJsApi.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/FileHelper.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/ICordovaClientCertRequest.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/ICordovaHttpAuthHandler.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/IceCreamCordovaWebViewClient.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/JSONUtils.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/LOG.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/LinearLayoutSoftKeyboardDetect.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/NativeToJsMessageQueue.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/PluginEntry.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/PluginManager.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/PluginResult.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/ScrollEvent.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/SplashScreenInternal.java
SAVUR/platforms/android/CordovaLib/src/org/apache/cordova/Whitelist.java
SAVUR/platforms/android/assets/_where-is-www.txt
SAVUR/platforms/android/assets/www/cordova.js
SAVUR/platforms/android/assets/www/cordova_plugins.js
SAVUR/platforms/android/assets/www/css/style.css
SAVUR/platforms/android/assets/www/img/VillanovaWildcats.png
SAVUR/platforms/android/assets/www/img/icon.png
SAVUR/platforms/android/assets/www/img/logo.png
SAVUR/platforms/android/assets/www/img/logo2tras.png
SAVUR/platforms/android/assets/www/img/logotras.png
SAVUR/platforms/android/assets/www/img/v1.jpg
SAVUR/platforms/android/assets/www/img/v2.jpg
SAVUR/platforms/android/assets/www/img/v3.jpg
SAVUR/platforms/android/assets/www/img/v4.jpg
SAVUR/platforms/android/assets/www/img/v5.jpg
SAVUR/platforms/android/assets/www/index.html
SAVUR/platforms/android/assets/www/js/app.js
SAVUR/platforms/android/assets/www/js/controllers.js
SAVUR/platforms/android/assets/www/js/jquery.min.js
SAVUR/platforms/android/assets/www/lib/Sexual Assault Booklet 2014.pdf
SAVUR/platforms/android/assets/www/lib/angular-animate/.bower.json
SAVUR/platforms/android/assets/www/lib/angular-animate/README.md
SAVUR/platforms/android/assets/www/lib/angular-animate/angular-animate.js
SAVUR/platforms/android/assets/www/lib/angular-animate/angular-animate.min.js
SAVUR/platforms/android/assets/www/lib/angular-animate/angular-animate.min.js.map
SAVUR/platforms/android/assets/www/lib/angular-animate/bower.json
SAVUR/platforms/android/assets/www/lib/angular-animate/package.json
SAVUR/platforms/android/assets/www/lib/angular-sanitize/.bower.json
SAVUR/platforms/android/assets/www/lib/angular-sanitize/README.md
SAVUR/platforms/android/assets/www/lib/angular-sanitize/angular-sanitize.js
SAVUR/platforms/android/assets/www/lib/angular-sanitize/angular-sanitize.min.js
SAVUR/platforms/android/assets/www/lib/angular-sanitize/angular-sanitize.min.js.map
SAVUR/platforms/android/assets/www/lib/angular-sanitize/bower.json
SAVUR/platforms/android/assets/www/lib/angular-sanitize/package.json
SAVUR/platforms/android/assets/www/lib/angular-ui-router/.bower.json
SAVUR/platforms/android/assets/www/lib/angular-ui-router/CHANGELOG.md
SAVUR/platforms/android/assets/www/lib/angular-ui-router/CONTRIBUTING.md
SAVUR/platforms/android/assets/www/lib/angular-ui-router/LICENSE
SAVUR/platforms/android/assets/www/lib/angular-ui-router/README.md
SAVUR/platforms/android/assets/www/lib/angular-ui-router/api/angular-ui-router.d.ts
SAVUR/platforms/android/assets/www/lib/angular-ui-router/bower.json
SAVUR/platforms/android/assets/www/lib/angular-ui-router/release/angular-ui-router.js
SAVUR/platforms/android/assets/www/lib/angular-ui-router/release/angular-ui-router.min.js
SAVUR/platforms/android/assets/www/lib/angular-ui-router/src/common.js
SAVUR/platforms/android/assets/www/lib/angular-ui-router/src/resolve.js
SAVUR/platforms/android/assets/www/lib/angular-ui-router/src/state.js
SAVUR/platforms/android/assets/www/lib/angular-ui-router/src/stateDirectives.js
SAVUR/platforms/android/assets/www/lib/angular-ui-router/src/stateFilters.js
SAVUR/platforms/android/assets/www/lib/angular-ui-router/src/templateFactory.js
SAVUR/platforms/android/assets/www/lib/angular-ui-router/src/urlMatcherFactory.js
SAVUR/platforms/android/assets/www/lib/angular-ui-router/src/urlRouter.js
SAVUR/platforms/android/assets/www/lib/angular-ui-router/src/view.js
SAVUR/platforms/android/assets/www/lib/angular-ui-router/src/viewDirective.js
SAVUR/platforms/android/assets/www/lib/angular-ui-router/src/viewScroll.js
SAVUR/platforms/android/assets/www/lib/angular/.bower.json
SAVUR/platforms/android/assets/www/lib/angular/README.md
SAVUR/platforms/android/assets/www/lib/angular/angular-csp.css
SAVUR/platforms/android/assets/www/lib/angular/angular.js
SAVUR/platforms/android/assets/www/lib/angular/angular.min.js
SAVUR/platforms/android/assets/www/lib/angular/angular.min.js.gzip
SAVUR/platforms/android/assets/www/lib/angular/angular.min.js.map
SAVUR/platforms/android/assets/www/lib/angular/bower.json
SAVUR/platforms/android/assets/www/lib/angular/package.json
SAVUR/platforms/android/assets/www/lib/ionic/.bower.json
SAVUR/platforms/android/assets/www/lib/ionic/README.md
SAVUR/platforms/android/assets/www/lib/ionic/bower.json
SAVUR/platforms/android/assets/www/lib/ionic/css/ionic.css
SAVUR/platforms/android/assets/www/lib/ionic/css/ionic.min.css
SAVUR/platforms/android/assets/www/lib/ionic/fonts/ionicons.eot
SAVUR/platforms/android/assets/www/lib/ionic/fonts/ionicons.svg
SAVUR/platforms/android/assets/www/lib/ionic/fonts/ionicons.ttf
SAVUR/platforms/android/assets/www/lib/ionic/fonts/ionicons.woff
SAVUR/platforms/android/assets/www/lib/ionic/js/ionic-angular.js
SAVUR/platforms/android/assets/www/lib/ionic/js/ionic-angular.min.js
SAVUR/platforms/android/assets/www/lib/ionic/js/ionic.bundle.js
SAVUR/platforms/android/assets/www/lib/ionic/js/ionic.bundle.min.js
SAVUR/platforms/android/assets/www/lib/ionic/js/ionic.js
SAVUR/platforms/android/assets/www/lib/ionic/js/ionic.min.js
SAVUR/platforms/android/assets/www/lib/ngCordova/.bower.json
SAVUR/platforms/android/assets/www/lib/ngCordova/CHANGELOG.md
SAVUR/platforms/android/assets/www/lib/ngCordova/LICENSE
SAVUR/platforms/android/assets/www/lib/ngCordova/README.md
SAVUR/platforms/android/assets/www/lib/ngCordova/bower.json
SAVUR/platforms/android/assets/www/lib/ngCordova/dist/ng-cordova-mocks.js
SAVUR/platforms/android/assets/www/lib/ngCordova/dist/ng-cordova-mocks.min.js
SAVUR/platforms/android/assets/www/lib/ngCordova/dist/ng-cordova.js
SAVUR/platforms/android/assets/www/lib/ngCordova/dist/ng-cordova.min.js
SAVUR/platforms/android/assets/www/lib/ngCordova/package.json
SAVUR/platforms/android/assets/www/templates/beforeYouGo.html
SAVUR/platforms/android/assets/www/templates/browse.html
SAVUR/platforms/android/assets/www/templates/gettingThere.html
SAVUR/platforms/android/assets/www/templates/home.html
SAVUR/platforms/android/assets/www/templates/information.html
SAVUR/platforms/android/assets/www/templates/intro.html
SAVUR/platforms/android/assets/www/templates/medicalHelp.html
SAVUR/platforms/android/assets/www/templates/menu.html
SAVUR/platforms/android/assets/www/templates/novawebsite.html
SAVUR/platforms/android/assets/www/templates/profile.html
SAVUR/platforms/android/assets/www/templates/profileOld.html
SAVUR/platforms/android/assets/www/templates/reportAssault.html
SAVUR/platforms/android/assets/www/templates/search.html
SAVUR/platforms/android/assets/www/templates/sexualAssaultPamphlet.html
SAVUR/platforms/android/assets/www/templates/talk.html
SAVUR/platforms/android/assets/www/templates/talkOffCampus.html
SAVUR/platforms/android/assets/www/templates/talkOnCampus.html
SAVUR/platforms/android/assets/www/templates/termcondition.html
SAVUR/platforms/android/build.gradle
SAVUR/platforms/android/cordova/android_sdk_version
SAVUR/platforms/android/cordova/build
SAVUR/platforms/android/cordova/build.bat
SAVUR/platforms/android/cordova/check_reqs
SAVUR/platforms/android/cordova/clean
SAVUR/platforms/android/cordova/clean.bat
SAVUR/platforms/android/cordova/defaults.xml
SAVUR/platforms/android/cordova/lib/android_sdk_version.js
SAVUR/platforms/android/cordova/lib/appinfo.js
SAVUR/platforms/android/cordova/lib/build.js
SAVUR/platforms/android/cordova/lib/check_reqs.js
SAVUR/platforms/android/cordova/lib/device.js
SAVUR/platforms/android/cordova/lib/emulator.js
SAVUR/platforms/android/cordova/lib/exec.js
SAVUR/platforms/android/cordova/lib/install-device
SAVUR/platforms/android/cordova/lib/install-device.bat
SAVUR/platforms/android/cordova/lib/install-emulator
SAVUR/platforms/android/cordova/lib/install-emulator.bat
SAVUR/platforms/android/cordova/lib/list-devices
SAVUR/platforms/android/cordova/lib/list-devices.bat
SAVUR/platforms/android/cordova/lib/list-emulator-images
SAVUR/platforms/android/cordova/lib/list-emulator-images.bat
SAVUR/platforms/android/cordova/lib/list-started-emulators
SAVUR/platforms/android/cordova/lib/list-started-emulators.bat
SAVUR/platforms/android/cordova/lib/log.js
SAVUR/platforms/android/cordova/lib/plugin-build.gradle
SAVUR/platforms/android/cordova/lib/run.js
SAVUR/platforms/android/cordova/lib/spawn.js
SAVUR/platforms/android/cordova/lib/start-emulator
SAVUR/platforms/android/cordova/lib/start-emulator.bat
SAVUR/platforms/android/cordova/log
SAVUR/platforms/android/cordova/log.bat
SAVUR/platforms/android/cordova/node_modules/q/CONTRIBUTING.md
SAVUR/platforms/android/cordova/node_modules/q/LICENSE
SAVUR/platforms/android/cordova/node_modules/q/README.md
SAVUR/platforms/android/cordova/node_modules/q/benchmark/compare-with-callbacks.js
SAVUR/platforms/android/cordova/node_modules/q/benchmark/scenarios.js
SAVUR/platforms/android/cordova/node_modules/q/package.json
SAVUR/platforms/android/cordova/node_modules/q/q.js
SAVUR/platforms/android/cordova/node_modules/q/queue.js
SAVUR/platforms/android/cordova/node_modules/shelljs/.documentup.json
SAVUR/platforms/android/cordova/node_modules/shelljs/.jshintrc
SAVUR/platforms/android/cordova/node_modules/shelljs/.npmignore
SAVUR/platforms/android/cordova/node_modules/shelljs/.travis.yml
SAVUR/platforms/android/cordova/node_modules/shelljs/LICENSE
SAVUR/platforms/android/cordova/node_modules/shelljs/README.md
SAVUR/platforms/android/cordova/node_modules/shelljs/bin/shjs
SAVUR/platforms/android/cordova/node_modules/shelljs/global.js
SAVUR/platforms/android/cordova/node_modules/shelljs/make.js
SAVUR/platforms/android/cordova/node_modules/shelljs/package.json
SAVUR/platforms/android/cordova/node_modules/shelljs/scripts/generate-docs.js
SAVUR/platforms/android/cordova/node_modules/shelljs/scripts/run-tests.js
SAVUR/platforms/android/cordova/node_modules/shelljs/shell.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/cat.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/cd.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/chmod.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/common.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/cp.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/dirs.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/echo.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/error.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/exec.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/find.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/grep.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/ls.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/mkdir.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/mv.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/popd.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/pushd.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/pwd.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/rm.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/sed.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/tempdir.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/test.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/to.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/toEnd.js
SAVUR/platforms/android/cordova/node_modules/shelljs/src/which.js
SAVUR/platforms/android/cordova/node_modules/which/LICENSE
SAVUR/platforms/android/cordova/node_modules/which/README.md
SAVUR/platforms/android/cordova/node_modules/which/bin/which
SAVUR/platforms/android/cordova/node_modules/which/package.json
SAVUR/platforms/android/cordova/node_modules/which/which.js
SAVUR/platforms/android/cordova/run
SAVUR/platforms/android/cordova/run.bat
SAVUR/platforms/android/cordova/version
SAVUR/platforms/android/cordova/version.bat
SAVUR/platforms/android/custom_rules.xml
SAVUR/platforms/android/platform_www/cordova.js
SAVUR/platforms/android/project.properties
SAVUR/platforms/android/res/drawable/icon.png
SAVUR/platforms/android/res/values/strings.xml
SAVUR/platforms/android/res/xml/config.xml
SAVUR/platforms/android/src/com/ionicframework/savur298243/MainActivity.java
SAVUR/plugins/android.json
