<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.savur298243" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>SaVUr</name>
  <description>&#xD;
        Sexual Assault Villanova University Resources&#xD;
    </description>
  <author email="" href="">&#xD;
      Villanova University&#xD;
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <icon src="www/img/icon.png"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <splash src="splash.png" density="land-hdpi"/>
    <splash src="splash.png" density="land-ldpi"/>
    <splash src="splash.png" density="land-mdpi"/>
    <splash src="splash.png" density="land-xhdpi"/>
    <splash src="splash.png" density="port-hdpi"/>
    <splash src="splash.png" density="port-ldpi"/>
    <splash src="splash.png" density="port-mdpi"/>
    <splash src="splash.png" density="port-xhdpi"/>
  </platform>
  <platform name="ios">
    <splash src="splash.png"/>
    <splash src="splash.png" width="320" height="480"/>
    <splash src="splash.png" width="640" height="960"/>
    <splash src="splash.png" width="768" height="1024"/>
    <splash src="splash.png" width="1536" height="2048"/>
    <splash src="splash.png" width="1024" height="768"/>
    <splash src="splash.png" width="2048" height="1536"/>
    <splash src="splash.png" width="640" height="1136"/>
    <splash src="splash.png" width="750" height="1334"/>
    <splash src="splash.png" width="1242" height="2208"/>
    <splash src="splash.png" width="2208" height="1242"/>
  </platform>
</widget>